

.sep::before{
    content: " / " ;
}

.wel-pg{
    margin: 0px;
    border-color: red;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh
}

.wel-text{
    border-color: blue;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
}

ul{
    border-color: green;
    border-style: solid;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
  }


/* About */
.about-design{
    border-color: palegreen;
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    /* height: 100%; */
}

.about-content{
    border-color: rgb(38, 123, 156);
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    /* height: 100vh; */
    overflow: auto;
}

.container-about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100vh; */
    height: 100%;
}

/* "About" written on the design pg of about */
.about-write{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

/* Work */
.work-design{
    border-color: palegreen;
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.work-content{
    border-color: rgb(38, 123, 156);
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    /* height: 100vh; */
    overflow: auto;
}

.container-work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100vh; */
}

/* "Work" written on the design pg of about */
.work-write{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}


/* Contact  */
.contact-design{
    border-color: palegreen;
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.contact-content{
    border-color: rgb(38, 123, 156);
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    height: 100vh;
    overflow: auto;
}

.container-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

/* "Contact" written on the design pg of about */
.contact-write{
    display: flex;
    justify-content: center;
    height: 100%
}