*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    src: url(fonts/wel/Tangerine-Bold.tff);
    tangerine;
}

body{
    font-family: 'Dancing Script', tangerine, cursive;
}

.sep::before{
    content: " / " ;
}

.wel-pg{
    margin: 0px;
    border-color: red;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.wel-text{
    border-color: blue;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
    font-size: 100px;
}

ul{
    border-color: green;
    border-style: solid;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding-left: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }



/* About */
.about-design{
    border-color: palegreen;
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    float: right;
    position: sticky;
    top: 0;
    z-index: 1;
    /* height: 100%; */
}

.about-content{
    border-color: rgb(38, 123, 156);
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    /* height: 100vh; */
    overflow: auto;
    z-index: 10;
}

.container-about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100vh; */
    height: 100%;
}

/* "About" written on the design pg of about */
.about-write{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

/* Work */
.work-design{
    border-color: palegreen;
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    float: right;
    position: sticky;
    top: 0;
}

.work-content{
    border-color: rgb(38, 123, 156);
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    /* height: 100vh; */
    overflow: auto;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0px;
}

.container-work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100vh; */
}

/* "Work" written on the design pg of about */
.work-write{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}


/* Contact  */
.contact-design{
    border-color: palegreen;
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    float: right;
    position: sticky;
    top: 0;
}

.contact-content{
    border-color: rgb(38, 123, 156);
    border-style: solid;
    flex-grow: 1;
    flex-basis: 400px;
    /* height: 100vh; */
    overflow: auto;
    z-index: 1;
}

.container-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100vh; */
}

/* "Contact" written on the design pg of about */
.contact-write{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

/* Fixed Scrolling issue in narrow window by this: */

/* @media(max-width: 844px){ */


@media(max-width: 844px){
    .wel-text{
        border-color: palevioletred;
        border-style: groove;
    }

    /* About */
    .about-design{
        float: none;
        position: relative;
    } 
    /* Work */
    .work-design{
        float: none;
        position: relative;
    }
    /* Contact  */
    .contact-design{
        float: none;
        position: relative;
    }
        
}

@media only screen and (orientation: portrait){
    .wel-text{
        border-color: aqua;
        border-style: double;
    }

    /* About */
    .about-design{
        float: none;
        position: relative;
    } 
    /* Work */
    .work-design{
        float: none;
        position: relative;
    }
    /* Contact  */
    .contact-design{
        float: none;
        position: relative;
    }
    
}


@media only screen and ((orientation: landscape) or (min-width: 844px)){
    .wel-text{
        border-style: dotted;
    }

    /* About */
    .about-design{
        float: right;
        position: sticky;
        top: 0;
    } 
    /* Work */
    .work-design{
        float: right;
        position: sticky;
        top: 0;
    }
    /* Contact  */
    .contact-design{
        float: right;
        position: sticky;
        top: 0;
    }
    
}



.developer{
    background-image: url(Developer.jpg);
    height: 100vh;
    width: 100%;
    background-position:20% 20%;
    background-size: cover;
    transition: all 3s;
    position: relative;
}

.BSE{
    background-image: url(BSE.jpg);
    height: 100vh;
    width: 100% ;
    /* background-position:40% 0%; */
    background-size: cover;
    transition: all 3s;
    position: relative;
}

.space-invader{
    background-image: url(space-invader.jpg);
    /* height: 100vh;
    width: 100%; */
    background-position:60% 20%;
    background-size: cover;
    transition: all 6s;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: auto;
}

/* Transition Effects */
.space-invader:hover {
  transform: scale(1.2);
}

.developer:hover{
  transform: scale(1.2);
}

.BSE:hover{
  transform: scale(1.2);
}

/* span {
    color: white; 
    font-family: sans-serif;
    font-size: 3rem;
    position: absolute;
} */

.work-content-heading{
    color: white; 
    font-family: sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding: 30%;
}